<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
        <title>About PW</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="assets/CSS/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <% include partials/navigation.ejs %>
  <h1 CLASS='HEADING-FONT2'>ABOUT PW EVENTS</h1>
  <h3 CLASS='HEADING-FONT2'>Here's a little bit about us.</h3>
<p class='HEADING-FONT2'>As our lives become more digital and interaction becomes more impersonal, it’s more important than ever to meet new people, discover new experiences, attend exciting events and engage with your community. At PW EVENTS, our goal is to build tools that makes that just a little bit easier.</p>
<br>
<br>
<p class='HEADING-FONT2'>PW EVENTS was founded by Harshini Koduru, a seasoned software developer, conceived the idea for a new kind of event platform in the fall of 2019.</p>
<br>
<br>
<p class='HEADING-FONT2 contact'>But enough about us. Go create. Plan awesome events. Be eventful.</p>

  <% include partials/footer.ejs %>
  </body>

  </html>
