<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
        <title>PW Connection Details</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="assets/CSS/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <% include partials/navigation.ejs %>
  <section >
  <h1 CLASS='HEADING-FONT2'>CONTACT US</h1>
  <h4 CLASS='HEADING-FONT2'>Contact us! We're hear to help.</h4>
</section>
  <section id="eng-sec" class="contact">
  <h2 CLASS='HEADING-FONT2'>SUPPORT INQUIRES</h2>
  <h4>Having issues with PW EVENTS? Please contact our support team at support@pwevents.com. We're available 24/7 for immediate issues, and typically respond with 24 hours for other inquires or questions.</h4>
  </section>


  <% include partials/footer.ejs %>
  </body>

  </html>
