<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
        <title>PW EVENTS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="assets/CSS/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Cookie&display=swap" rel="stylesheet">
    </head>
    <body>
    <% include partials/navigation.ejs %>

    <section class="section1">
        <img class="sect1_banner" src="assets/Images/banner.gif" alt="banner">
        </section>


		<section class="sect2">
		<div class="block_1">
        <h1 CLASS='HEADING-FONT2'>PW EVENTS</h1>
		<p class='font3'>PW EVENTS feature is a great way to let members know about upcoming conferences, concerts, or parties. You can even organize in-person meet ups using the Events feature on your PW Network. You can invite anyone to join your Event, even people who haven’t yet joined the network!</p>
		</div>

		<div class="block_2">
		<h1 CLASS='HEADING-FONT2'>UPCOMING EVENTS </h1>
        <p class='font3'>Together with their families FALCY AND MARSHAL invite you to share in the joy and celebration of their marriage on Saturday, the twenty-first of September at six o'clock.</p>
		<a href="connections"><strong>Explore More Events</strong></a>
		</div>
        </section>


        <% include partials/footer.ejs %>
    </body>

</html>
